<!DOCTYPE html>
<html ng-app="myGame">

<head>
<link rel="stylesheet" type="text/css" href="interface.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="main.js"></script>

<style>  
	canvas {
	    display: block;
	    margin: 5px auto;
	    background-color: #c2efc2;
	}
	body{
		text-align:center;
	}

    .button {
		display:block;
		text-align:center;
		margin: 0 auto;
	}

	#tree{
		visibility:hidden;
	}
</style>

</head>

<body ng-controller="myTree" ng-init="load()">

	<button type="button" ng-click="addWater(1)">Rain</button>
	<button type="button" ng-click="addSun(1)">Sun</button>
	<button type="button" ng-click="addFungi()">Add Fungi</button>
	<p>
		<div>Water: {{water}}</div>
		<div>Sun: {{sun}}</div>
	</p> 

	<p>
		<div>Fungi: {{fungi}} </div>
		<div>Friends: {{friends}}</div>
	</p>

	<button type="button" ng-click="makeFriends()">Make Friends</button>
	<!--button type="button" ng-click="give(1)">Help a sista out</button-->
		<div>
		 	<img id="tree" width="100" height="100" src="/home/apierce/319/Portfolio1/tree1.png">
		 </div>

	<canvas id="forest" width="900" height="400">


</body>


</html>