	canvas {
	    display: block;
	    margin: 5px auto;
	    background-color: #c2efc2;
        float:left;
	}
	body{
		text-align:center;
        font-family: Arial, Helvetica, sans-serif;
	}

    div1{
        color:#00ccff;
    }
    div2{
        color:#ffcc00;
    }
    div3{
        color:black;
    }
    div{
        color:#bfbfbf;
    }
    .treeTable{
        margin-top: 20px;
    }

    .info{
        margin:20px;
        margin-left:30px;
        margin-right:20px;
        height:150px;
        width:100px;
        border: 25px solid #cc66ff;
        border-radius: 5px;
        padding-bottom: 10px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        float: left;

    }

    button{
        border-radius: 8px;
        padding: 15px 32px;
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        border: none;
        color: white;
        align-content: center;
    }
    li{
        margin-bottom: 2px;
    }

    #addFungiToTree {
        align-content: center;
        padding: 5px 7px;
        font-size: 10px;
        background-color: #e1e1ea;
        color: black;
        border: 1px solid #c3c3d5;
    }

    .button1:hover {
        background-color: #00ccff;
        color: white;
    }
    .button2:hover {
        background-color: #ffcc00;
        color:white;
    }
    .button3:hover {
        background-color: black;
        color: white;
    }
    .button4:hover {
        background-color: #bfbfbf;
        color: white;
    }

    .button1 {
        background-color : white;
        color: black;
        border: 2px solid #00ccff;
        margin-left: 20px;
	}
    .button2 {
        background-color: white;
        color: black;
        border: 2px solid #ffcc00;
	}
    .button3 {
        background-color: white;
        color: black;
        border: 2px solid black;
	}

    .button4{
        background-color: white;
        color: black;
        border: 2px solid #bfbfbf;
        margin-right: 20px;
    }
    .logout{
        background-color: white;
        color: black;
        border: 2px solid black;
        float:right;
    }

	#tree{
		visibility:hidden;
	}
