<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>

<body>

    <div id="logindiv" ng-app="login" >
        <div ng-controller="loginController">

            <label>User Name:</label>
            <input type="text" id="username" placeholder="Enter Username" ng-model="username" required/><br><br />

            <label>Password:</label>
            <input type="password" id="password" placeholder="Enter Password" ng-model="password" required/><br>

            <br />
            <input type="button" id="login" value="Login" />
        </div>
    </div>

</body>
</html>