        #login,#signup {
            width: 250px;
            border-radius: 8px;
            text-align: center;
            padding: 15px 32px;
            display: inline-block;
            font-size: 16px;
            text-decoration: none;
            cursor: pointer;
            border: none;
            color: black;
            background-color: orange;
        }

        label{
            width:250px;
            font-family:Arial;
        }

        div{
            width: 250px;
            height: 100px;

            position: absolute;
            left: 0;
            right: 0;

            margin: auto;
        }

        #username,#password,#re-password,#email{
            width: 250px;
            height:40px;
            border-radius: 5px;
            border:1px solid #cccccc
        }