<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
    <div id="signupdiv" ng-app="signup" >
        <label>User Name:</label>
        <input type="text" id="username" ng-model="username" required /><br /><br />

        <label>Password:</label>
        <input type="password" id="password" ng-model="password" required /><br /><br />

        
        <label>Comfirm Password:</label>
        <input type="password" id="re-password" ng-model="re-password" required /><br /><br />

        <label>Email:</label>
        <input type="text" id="email" ng-model="email" required /><br/><br />

        <input type="button" id="signup" value="Sign Up" />
    </div>

    {{username}}
</body>
</html>